# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Maven / Java
target/

# Node / React
node_modules/
dist/
*.tsbuildinfo

# Environment variables / secrets
.env
.env.*

# Vercel
.vercel/

# IntelliJ local files
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml